@font-face {
	font-family: 'Plus Jakarta Sans';
	src: url('../assets/fonts/PlusJakartaSans-Regular.woff2') format('woff2'),
		url('../assets/fonts/PlusJakartaSans-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Plus Jakarta Sans';
	src: url('../assets/fonts/PlusJakartaSans-Medium.woff2') format('woff2'),
		url('../assets/fonts/PlusJakartaSans-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Plus Jakarta Sans';
	src: url('../assets/fonts/PlusJakartaSans-SemiBold.woff2') format('woff2'),
		url('../assets/fonts/PlusJakartaSans-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Plus Jakarta Sans';
	src: url('../assets/fonts/PlusJakartaSans-Bold.woff2') format('woff2'),
		url('../assets/fonts/PlusJakartaSans-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Plus Jakarta Sans';
	src: url('../assets/fonts/PlusJakartaSans-ExtraBold.woff2') format('woff2'),
		url('../assets/fonts/PlusJakartaSans-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Plus Jakarta Sans';
	src: url('../assets/fonts/PlusJakartaSans-ExtraBoldItalic.woff2') format('woff2'),
		url('../assets/fonts/PlusJakartaSans-ExtraBoldItalic.woff') format('woff');
	font-weight: 800;
	font-style: italic;
	font-display: swap;
}
